<!doctype html>
<html class="no-js" lang="">

{% load static %}
{% include 'includes/head.html' %}
<body>
    
    <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        {% include 'includes/header.html' %}
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% include 'includes/court_sidebar.html' %}
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Prisoner</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Prisoner Add Form</li>
                    </ul>
                </div>
                <!-- prisoner_form.html -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>{% if form.instance.pk %}Edit Prisoner{% else %}Add New Prisoner{% endif %}</h3>
                            </div>
                        </div>
                        <form method="post" class="new-added-form" id='prisonerForm' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>First Name *</label>
                                    {{ form.pri_fname }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Middle Name</label>
                                    {{ form.pri_mname }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Last Name *</label>
                                    {{ form.pri_lname }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Gender *</label>
                                    {{ form.pri_gender }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Age *</label>
                                    {{ form.age }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Nationality *</label>
                                    {{ form.pri_nationality }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>City *</label>
                                    {{ form.pri_city }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Subcity *</label>
                                    {{ form.pri_subcity }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Woreda *</label>
                                    {{ form.pri_woreda }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>kebele *</label>
                                    {{ form.pri_kebele }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Phone Number *</label>
                                    {{ form.pri_telno }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Date of arrest *</label>
                                    {{ form.pri_date_of_arrest }}
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Court *</label>
                                    {{ form.court }}
                                </div>
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Crime Discription *</label>
                                    {{ form.description }}   
                                </div>
                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" id='saveButton' class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Send Request</button>
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>
                            </div>
                        </form>
                        <!--<script>
                            function previewProfilePic(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#profilePicPreview').attr('src', e.target.result);
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                        
                            $(document).ready(function () {
                                $('#saveButton').click(function (event) {
                                    event.preventDefault(); // Prevent the form from submitting normally
                        
                                    // Create a FormData object to handle file upload
                                    var formData = new FormData($('#prisonerForm')[0]);
                        
                                    // Get the CSRF token
                                    var csrftoken = $('[name=csrfmiddlewaretoken]').val();
                        
                                    // Function to format dates to YYYY-MM-DD
                                    function formatDate(dateString) {
                                        var parts = dateString.split('/');
                                        return `${parts[2]}-${parts[1]}-${parts[0]}`;
                                    }
                        
                                    // Iterate over form data and reformat date fields
                                    $('#prisonerForm').serializeArray().forEach(function (field) {
                                        if (field.name.includes('date') || field.name.includes('dob')) {
                                            formData.set(field.name, formatDate(field.value));
                                        }
                                    });
                        
                                    // Submit the form data via AJAX to the server for validation and saving
                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url "prisoner_create" %}', // Use the named URL for prisoner_create
                                        data: formData,
                                        processData: false, // Prevent jQuery from automatically transforming the data into a query string
                                        contentType: false, // Prevent jQuery from setting the content type header
                                        beforeSend: function (xhr, settings) {
                                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                        },
                                        success: function (response) {
                                            console.log("AJAX Success Response: ", response);
                                            toastr.success(response.message);
                                            // Optionally, you can reset the form after successful submission
                                            $('#prisonerForm')[0].reset();
                                            $('#profilePicPreview').attr('src', '{% static "img/figure/user.jpg" %}');
                                        },
                                        error: function (xhr, textStatus, errorThrown) {
                                            console.log("AJAX Error: ", textStatus, errorThrown);
                                            console.log("XHR Response: ", xhr.responseText);
                        
                                            var responseJSON = xhr.responseJSON || {};
                                            var errors = responseJSON.errors || {};
                        
                                            if (errors.form_errors) {
                                                for (var field in errors.form_errors) {
                                                    if (errors.form_errors.hasOwnProperty(field)) {
                                                        var errorMessage = errors.form_errors[field];
                                                        toastr.error(field + ": " + errorMessage.join(", "));
                                                    }
                                                }
                                            }
                        
                                            if (errors.formset_errors) {
                                                errors.formset_errors.forEach(function (formsetError, index) {
                                                    for (var field in formsetError) {
                                                        if (formsetError.hasOwnProperty(field)) {
                                                            var errorMessage = formsetError[field];
                                                            toastr.error("Formset " + (index + 1) + " - " + field + ": " + errorMessage.join(", "));
                                                        }
                                                    }
                                                });
                                            }
                                        }
                                    });
                                });
                            });
                        </script>           -->     
                        <script>
                            $(document).ready(function () {
                                $('#saveButton').click(function (event) {
                                    event.preventDefault(); // Prevent the form from submitting normally
                        
                                    // Create a FormData object to handle file upload
                                    var formData = new FormData($('#prisonerForm')[0]);
                        
                                    // Get the CSRF token
                                    var csrftoken = $('[name=csrfmiddlewaretoken]').val();
                        
                                    // Function to format dates to YYYY-MM-DD
                                    function formatDate(dateString) {
                                        var parts = dateString.split('/');
                                        return `${parts[2]}-${parts[1]}-${parts[0]}`;
                                    }
                        
                                    // Iterate over form data and reformat date fields
                                    $('#prisonerForm').serializeArray().forEach(function (field) {
                                        if (field.name.includes('date') || field.name.includes('dob')) {
                                            formData.set(field.name, formatDate(field.value));
                                        }
                                    });
                        
                                    // Toastr configuration
                                    toastr.options = {
                                        "closeButton": true,
                                        "debug": false,
                                        "newestOnTop": true,
                                        "progressBar": true,
                                        "positionClass": "toast-top-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "300",
                                        "hideDuration": "1000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    };
                        
                                    // Submit the form data via AJAX to the server for validation and saving
                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url "temp_prisoner_create" %}', // Use the named URL for prisoner_create
                                        data: formData,
                                        processData: false, // Prevent jQuery from automatically transforming the data into a query string
                                        contentType: false, // Prevent jQuery from setting the content type header
                                        beforeSend: function (xhr, settings) {
                                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                        },
                                        success: function (response) {
                                            console.log("AJAX Success Response: ", response);
                                            toastr.success(response.message);
                                            // Optionally, you can reset the form after successful submission
                                            $('#prisonerForm')[0].reset();
                                        },
                                        error: function (xhr, textStatus, errorThrown) {
                                            console.log("AJAX Error: ", textStatus, errorThrown);
                                            console.log("XHR Response: ", xhr.responseText);
                        
                                            var responseJSON = xhr.responseJSON || {};
                                            var errors = responseJSON.errors || {};
                        
                                            for (var field in errors) {
                                                if (errors.hasOwnProperty(field)) {
                                                    var errorMessage = errors[field];
                                                    toastr.error(field + ": " + errorMessage.join(", "));
                                                }
                                            }
                                        }
                                    });
                                });
                            });
                        </script>
                                
                    </div>
                </div>
       <!-- Admit Form Area End Here -->
         {% include 'includes/footer_copyright.html' %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>