<!doctype html>
<html class="no-js" lang="">

{% load static %}
{% include 'includes/head.html' %}

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        {% include 'includes/header.html' %}
        <!-- Header Menu Area End Here -->

        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% include 'includes/court_sidebar.html' %}
            <!-- Sidebar Area End Here -->

            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Prisoners</h3>
                    <ul>
                        <li><a href="{% url 'dashboard' %}">Home</a></li>
                        <li>All Prisoners</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->

                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>All Prisoners Data</h3>
                            </div>
                            
                        </div>

                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Roll ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Name ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Roome ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">Roll</label>
                                            </div>
                                        </th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Prison</th>
                                        <th>Status</th>
                                        <th>Release Date</th>
                                        <th>Address</th>
                                        <th>Date Of Birth</th>
                                        <th>Phone</th>
                                        <th>Nationality</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for prisoner in prisoners %}
                                    <tr class="clickable-row" data-href="{% url 'prisoner_detail' prisoner.pk %}">
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">{{ prisoner.pri_id }}</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="profile-pic-container">
                                                {% if prisoner.picture %}
                                                <img src="{{ prisoner.picture.url }}" alt="Prisoner Photo"
                                                    class="profile-pic">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>{{ prisoner.pri_fname }} {{ prisoner.pri_mname }}</td>
                                        <td>{{ prisoner.pri_gender }}</td>
                                        <td>{{ prisoner.prison }}</td>
                                        <td>{{ prisoner.status }}</td>
                                        <td>{{ prisoner.release_date }}</td>
                                        <td>{{ prisoner.pri_city }}, {{ prisoner.pri_subcity }}</td>
                                        <td>{{ prisoner.pri_dob }}</td>
                                        <td>{{ prisoner.pri_telno }}</td>
                                        <td>{{ prisoner.pri_nationality }}</td>
                                        <td>
                                            {% if user_role == 'Inspecter'%}
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i
                                                            class="fas fa-times text-orange-red"></i>Close</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->

                {% include 'includes/footer_copyright.html' %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>

    {% include 'includes/footer.html' %}

    <!-- JavaScript -->
    <script>
        // Add JavaScript for making rows clickable
        document.addEventListener("DOMContentLoaded", function () {
            var rows = document.querySelectorAll(".clickable-row");
            rows.forEach(function (row) {
                row.addEventListener("click", function () {
                    var href = row.dataset.href;
                    if (href) {
                        window.location.href = href;
                    }
                });
            });
        });
    </script>

    <!-- Custom CSS for table row hover effect -->
    <style>
        .table.data-table tbody tr:hover {
            background-color: #e1f5fe; /* Light blue color */
        }
        
        .profile-pic-container {
            width: 50px; /* Adjust size as needed */
            height: 50px; /* Adjust size as needed */
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #ffffff; /* Border color */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
        }

        .profile-pic-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    </style>
</body>

</html>
